@model StudentModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/@(Model.PhotoPath)" asp-append-version="true" />
                <h4>ID：@Model.Id</h4>
                <h4>姓名：@Model.Name</h4>
                <h4>年龄：@Model.Age</h4>
                <h4>邮箱：@Model.Email</h4>
                <h4>朝代：@Model.Dynasty</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="student" asp-action="index" class="btn btn-primary">返回</a>
                <a href="#" class="btn btn-primary">编辑</a>
                <a href="#" class="btn btn-danger">删除</a>
            </div>
        </div>
    </div>
</div>
