@model IEnumerable<StudentModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="card-deck">
    @foreach (var student in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@student.Name</h3>
            </div>
            <div class="card-body text-center">
                @*<img class="card-img-top" src="~/images/@(student.Id).jpg" />*@
                <img class="card-img-top imagesThumbnail" src="~/images/@(student.PhotoPath)" asp-append-version="true"/>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="student" asp-action="details" asp-route-id="@student.Id" class="btn btn-primary m-3">查看</a>
                <a asp-controller="student" asp-action="edit" asp-route-id="@student.Id" class="btn btn-primary m-3">编辑</a>
                <a href="#" class="btn btn-danger m-3">删除</a>
            </div>
        </div>
    }
    <a asp-controller="student" asp-action="create" class="btn btn-outline-primary">创建</a>
</div>
